
*{
    margin: 0;
    padding: 0;
}

h2{
   text-align: center;
   margin-top: 200px;
   font-size: 70px;
}

nav{

    display: flex;
    justify-content: space-between;
    background-color: #292E34;
    padding: 50px 50px;

}

a{
    color: beige;
    text-decoration: none;
    font-size: 20px;
}

