
@font-face {
    font-family: inter;
    src: url(../fonte/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}

h2{
   text-align: center;
   margin-top: 200px;
   font-size: 60px;
   font-family: inter;
   color: #0d2e0d;
}

P, h3{
    font-family: inter;
}

nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d2e0d;
    padding: 10px 50px;

}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: inter;
    font-weight: 600;
}

.hero img{
    width: 100%;
}
.logo img{
    width: 50px;
    height: auto;
    display: flex;
    align-content: center;
}

